---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import Footer from '../sections/Footer.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Projects from '../sections/Projects.astro';
import Skills from '../sections/Skills.astro';
---

<Layout title="PortFolio Cuti">
	<Header />
	<main>
		<p id="home" class="absolute top-0"></p>
		<Hero />
		<p id="aboutMe"></p>
		<About />
		<p id="skills"></p>
		<Skills />
		<p id="projects"></p>
		<Projects />
	</main>
	<Footer />
</Layout>
