---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import Footer from '../sections/Footer.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="PortFolio Cuti">
	<Header />
	<main>
		<Hero />
		<About />
	</main>
	<Footer />
</Layout>
