#parent {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	grid-column-gap: 0px;
	grid-row-gap: 32px;
	margin-bottom: 6rem;
}

#one {
	grid-area: 1 / 1 / 2 / 2;
}
#two {
	grid-area: 2 / 1 / 3 / 2;
}
@media (min-width: 1280px) {
	#parent {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 32px;
		grid-row-gap: 0px;
		margin-bottom: 3rem;
	}

	#one {
		grid-area: 1 / 1 / 2 / 2;
	}
	#two {
		grid-area: 1 / 2 / 2 / 3;
	}
}

.button {
	@apply mb-4 flex h-8 w-14 items-center justify-center rounded-lg border-[2px] border-yellow-400 bg-Black text-xs font-semibold text-yellow-400 transition-all duration-300 ease-out hover:scale-105 hover:bg-yellow-400 hover:text-Black xs:mb-6 xs:h-10 xs:w-20 xs:text-base sm:mb-8 dark:border-yellow-500 dark:text-yellow-500 dark:hover:bg-yellow-500;
}
