---
import { languages } from '../i18n/ui';
import Test from './Test.astro';
---

<footer class="mx-auto w-[70vw]">
	<ul>
		{
			Object.entries(languages).map(([lang, label]) => (
				<li>
					<a href={`/${lang}/`}>{label}</a>
				</li>
			))
		}
	</ul>

	<Test/>
</footer>
