---
import { languages } from '../i18n/ui';
---
<footer class="w-[75vw] mx-auto">
    <ul>
		{
			Object.entries(languages).map(([lang, label]) => (
				<li>
					<a href={`/${lang}/`}>{label}</a>
				</li>
			))
		}
	</ul>
</footer>