---
import { languages } from '../i18n/ui';
---

<footer class="mx-auto w-[75vw]">
	<ul>
		{
			Object.entries(languages).map(([lang, label]) => (
				<li>
					<a href={`/${lang}/`}>{label}</a>
				</li>
			))
		}
	</ul>
</footer>
