---
// @ts-nocheck
import Dev from '../icons/dev.astro';
import Menu from '../icons/Menu.astro';
import Moon from '../components/Moon.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const text = [
	{ rute: '#home', text: 'nav.home' },
	{ rute: '#aboutMe', text: 'nav.about' },
	{ rute: '#projects', text: 'nav.projects' },
	{ rute: '#contact', text: 'nav.contact' }
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
	class="fixed top-0 z-40 flex h-14 w-screen justify-end bg-White text-Black shadow-lg dark:bg-Black dark:text-White"
>
	<nav class="flex items-center">
		<div class="absolute right-10 flex md:hidden">
			<Menu />
		</div>
		<a
			href={getRelativeLocaleUrl(lang, '/')}
			class="absolute left-10 flex items-center text-xl font-semibold"
			><span class="mb-px text-yellow-400 dark:text-yellow-500">Juan</span><span
				class="text-transparent">-</span
			> Cutiva <span class="mt-[3px] pl-1"><Dev /></span></a
		>
		<div class="flex w-auto">
			{
				text.map((item) => (
					<a
						href={item.rute}
						class="m-1 hidden w-auto rounded-xl px-3 py-1 font-medium transition-all duration-[250ms] ease-out hover:bg-Black hover:text-White md:flex dark:hover:bg-White dark:hover:text-Black"
					>
						<p class="text-center">{t(item.text)}</p>
					</a>
				))
			}
		</div>
		<div class="relative left-4 top-14 scale-50 md:static" id="buttonMoon">
			<Moon />
		</div>
	</nav>
	<!-- header mobile  -->
	<div
		id="headerMobile"
		class="absolute top-14 hidden h-48 w-screen items-center justify-start bg-White dark:bg-Black drop-shadow-lg"
	>
		<div class="ml-[1.55rem] hidden w-auto flex-col items-start" id="navMobile">
			{
				text.map((item) => (
					<a
						href={item.rute}
						class="m-1 w-auto rounded-xl px-3 py-1 font-medium transition-all duration-[250ms] ease-out hover:bg-Black hover:text-White md:flex dark:hover:bg-White dark:hover:text-Black"
					>
						<p class="text-center">{t(item.text)}</p>
					</a>
				))
			}
		</div>
	</div>
	<!-- header mobile  -->
</header>
<style>
	#headerMobile {
		--tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.2);
		--tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
			var(--tw-shadow);
	}
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
</style>
<script src="../scripts/inputTheme.js"></script>
