---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import '../css/bg.css';
import Download from '../icons/download.astro';
import HeroType from '../components/hero';
import Linkedin from '../icons/linkedin.astro';
import Github from '../icons/github.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="parent" class="mt-14">
	<div id="div1" class="flex items-center justify-center">
		<img
			src="/cutiImgGroup.png"
			alt="Cuti Image"
			class="w-[28rem] md:w-[auto] md:min-w-[28rem] xl:max-w-[40rem]"
		/>
	</div>
	<div
		id="div2"
		class="grid items-start justify-center md:-ml-10 md:items-center md:justify-start xl:relative xl:-ml-24"
	>
		<HeroType lang={lang} client:load />
	</div>
	<div
		id="div3"
		class="flex size-full items-start justify-center gap-8 md:-ml-10 md:justify-start xl:relative xl:-ml-24"
	>
		<a
			href="https://www.linkedin.com/in/juan-david-cutiva-lopez-62ba62253/"
			target="_blank"
			rel="noopener noreferrer"
			class="relative scale-110 duration-300 hover:scale-125 md:mt-8 lg:mt-0"><Linkedin /></a
		>
		<a
			href="https://github.com/Juan-Cutiva"
			target="_blank"
			rel="noopener noreferrer"
			class="relative scale-110 duration-300 hover:scale-125 md:mt-8 lg:mt-0"><Github /></a
		>
	</div>
	<div id="div4" class="flex size-full items-center justify-center md:justify-between xl:ml-20">
		<a
			class="flex items-center justify-center duration-300 hover:scale-110"
			download="JuanDavidCutivaCV.pdf"
			href="/JuanDavidCutivaCV.pdf"
		>
			<div class="size-28 rounded-full bg-pink-400 opacity-40 lg:size-32"></div>
			<div class="absolute size-24 rounded-full bg-pink-700 opacity-70 lg:size-28"></div>
			<div
				class="absolute flex size-20 place-content-center rounded-full bg-pink-900 bg-opacity-100 text-White lg:size-24"
			>
				<p class="inline-flex items-center justify-center pb-px text-2xl"><Download />CV</p>
			</div>
		</a>
		<p class="text-transparent">a</p>
	</div>
</section>
<div id="bg" class="bg-[#5b2c80] dark:bg-[#220b35]"></div>

<style>
	#parent {
		display: grid;
		grid-template-columns: 50vw 40vw;
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		justify-content: end;
	}
	#div1 {
		grid-area: 1 / 1 / 5 / 2;
	}

	#div4 {
		grid-area: 3 / 1 / 4 / 2;
	}
	@media (max-width: 768px) {
		#parent {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		#div1 {
			grid-area: 1 / 1 / 4 / 3;
		}
		#div2 {
			grid-area: 4 / 1 / 5 / 3;
		}
		#div3 {
			grid-area: 5 / 1 / 6 / 3;
		}
		#div4 {
			grid-area: 3 / 1 / 4 / 2;
		}
	}
	@media (min-width: 768px) {
		#div2 {
			grid-area: 2 / 2 / 4 / 3;
			align-items: start;
			margin-top: 3.5rem;
			/* @apply -ml-10; */
		}
		#div3 {
			grid-area: 3 / 2 / 4 / 3;
			align-items: center;
			margin-top: 1rem;
			/* @apply -ml-10; */
		}
	}
</style>
