---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import '../css/bg.css';
import Download from '../../public/icons/download.astro';
import HeroType from '../components/hero';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex justify-between">
	<h1 class="text-8xl text-neutral-100">{t('nav.home')}</h1>
	<div class="flex">
		<img src="/cutiImg.png" alt="Cuti Image" class="absolute ml-20 mt-4 w-96 rounded-[100px]" />
		<img src="/BIGGLOW.png" alt="Circle Image" class="h-[32em]" />
		<a
			class="absolute top-80 flex size-40 items-center justify-center"
			download="JuanDavidCutivaCV.pdf"
			href="/JuanDavidCutivaCV.pdf"
		>
			<div class="absolute size-28 rounded-full bg-pink-400 opacity-40"></div>
			<div class="absolute size-24 rounded-full bg-pink-700 opacity-70"></div>
			<div
				class="absolute flex size-20 place-content-center rounded-full bg-pink-900 bg-opacity-100 text-Black dark:text-White"
			>
				<p class="inline-flex items-center justify-center pb-px text-2xl"><Download />CV</p>
			</div>
		</a>
	</div>
	<HeroType lang={lang} client:load />
</section>
<div id="bg" class="bg-[#5b2c80] dark:bg-[#220b35]"></div>
