---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h1 class="text-8xl text-neutral-100">{t('nav.home')}</h1>
