---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Project from '../components/project';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mx-auto mt-24 w-[85vw] gap-6 md:w-[70vw] xl:gap-8" id="projectsSection">
	<h2
		class="mb-12 w-full text-center text-5xl font-semibold text-yellow-400 sm:text-7xl dark:text-yellow-500"
	>
		{t('projects.title')}
	</h2>
	<Project client:only />
</section>
