---
import '@fontsource-variable/rubik';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PortFolio Juan Cutiva Donde podrás conocer de mi." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="LayoutPage, follow" />
		<title>{title}</title>
	</head>
	<body class="bg-[#13151a] font-Rubik">
		<slot />
	</body>
</html>
<script>
	document.querySelector('html').setAttribute('class', window.localStorage.theme);
</script>
